In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import astropy.table as atpy
from sklearn import linear_model

In [5]:
ra_dp = [180, 250]
dec_dp = [-5, 40]

In [13]:
tab = atpy.Table().read('DR5_cluster-catalog_v1.1.fits')
ras = tab['RADeg']
decs = tab['decDeg']
mass = tab['M500c']
dist = tab['redshift']
df = pd.DataFrame(dict(
    Ra = list(ras),
    Dec = list(decs),
    Mass500 = list(mass),
    RedShift = list(dist),
    Radius = [0] * len(ras)
))
df

              Ra        Dec   Mass500  RedShift  Radius
0       0.020898 -38.626732  1.696723  0.300599       0
1       0.060601 -43.955494  2.457475  0.878131       0
2       0.089900 -28.091249  2.730490  0.282570       0
3       0.083333 -39.604169  1.490711  0.356218       0
4       0.113533  -1.044811  1.516593  0.438800       0
...          ...        ...       ...       ...     ...
4190  359.727531 -43.905169  2.639904  0.734463       0
4191  359.887357   2.138787  2.722980  0.429373       0
4192  359.889739 -46.143628  1.461240  1.223600       0
4193  359.929865 -50.169857  2.980008  0.775000       0
4194  359.988274 -32.943636  2.163558  0.686000       0

[4195 rows x 5 columns]

In [7]:
rads = {}

In [11]:
a = [3033, 3704, 3505, 3616, 1929]
r = [4, 3, 3, 3, 2]
for i,j  in zip(a, r):
    rads[i] = j
rads

{3210: 3.2,
 3354: 3,
 3310: 2,
 1957: 2,
 3564: 2,
 3629: 3.5,
 3142: 3,
 2809: 3,
 3458: 2,
 2049: 2,
 2240: 4,
 2647: 4,
 2505: 3,
 1934: 3,
 2196: 2,
 3270: 4,
 1920: 3,
 3407: 3,
 1907: 3,
 2580: 2}

In [14]:
for i in rads:
    df.loc[i, 'Radius'] = rads[i]

In [15]:
data = df.loc[list(rads.keys())].drop(['Ra', 'Dec'], axis=1)

In [16]:
data

       Mass500  RedShift  Radius
3210  4.028956  0.414000     3.2
3354  3.740221  0.417800     3.0
3310  3.370884  0.421329     2.0
1957  3.052695  0.407446     2.0
3564  2.843697  0.423300     2.0
3629  3.976591  0.490400     3.5
3142  3.683992  0.504071     3.0
2809  3.363928  0.501000     3.0
3458  3.109978  0.499400     2.0
2049  2.760737  0.487207     2.0
2240  4.328044  0.789868     4.0
2647  4.015109  0.789300     4.0
2505  3.740221  0.768000     3.0
1934  3.382509  0.789186     3.0
2196  2.822241  0.785000     2.0
3270  4.289476  0.846200     4.0
1920  3.678922  0.856400     3.0
3407  3.408225  0.856400     3.0
1907  3.131465  0.856400     3.0
2580  2.785560  0.856400     2.0

In [17]:
reg = linear_model.LinearRegression()
reg.fit(data[['Mass500','RedShift']], data.Radius)

LinearRegression()

In [18]:
reg.coef_

array([1.24509305, 0.96399278])

In [19]:
reg.intercept_

-2.1075201676682633

In [22]:
reg.predict([[3.5, 0.9]])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([3.11789902])